
	*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
}

.slider{
	overflow: hidden;
	height: 1000px;

}

.slide{
	box-shadow: 0px 20px 20px black;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width:100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: slidy 12s infinite;

}

@keyframes slidy{
	0%{top: 0%; left: 0%}
	25%{top: 0%; left: -100%;}
	50%{top: 0%; left: -200%;}
	75%{top: 0%; left: -100%;}
	90%{top: 0%; left: 0%;}


}

.navbar a{
	 
  color:inherit;
  text-decoration: none;
 
}

.header{
		width: 100%;
		height: 70px;
		z-index: 10000;
		position:absolute;

		/*background-image: url(Assets/img2.jpg);*/
		background-size: cover;
	}

	.navbar{
		width: 100%;
		padding-top: 0px;
		padding-bottom: 20px;
		position: fixed;
		top: 0px;
		text-align: center;
		transition: 0.5s;
		position: auto;
		height: 10%;
		background-color: black;
	}

#cart{		
	 	width: 80%;		
	 	height: auto;		
	 }



	.navbar ul li{
		list-style-type: none;
		display: inline-block;
		padding: 2px 30px;
		color: white;
		font-size: 19px;
		font-family: "Rock Salt";
		cursor: pointer;
		border-radius: 8px;
		transition: 0.5s;

	}

	/*.navbar ul li:hover{
		 
		background: white; 

	}*/


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 2px 10px 0px black;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;

}




	.hvr-bounce-to-right ul li {
  display: inline-block;
  vertical-align: middle;  
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0);*/
  position: relative;  
  transition-duration: 0.5s;
  
}

.hvr-bounce-to-right ul li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddb256;
  transform: scaleX(0);
  transform-origin:0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  border-radius: 25px;
}

.hvr-bounce-to-right ul li:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  box-shadow: 0px 10px 20px black ;
}


.logo {
  display: inline-block;
  vertical-align: middle;  
  cursor: pointer;
  position: relative;  
  
  
}

.logo li {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  
  border-radius: 25px;
}

/**________________________________PIZZA PAGE______________________**/




.image{

  
		display: block;
		width: 100%;
		height: auto;


}



/*_________________pizza images overlay ___________________*/

.container1{
		position: relative;
		width: 20%;
		height: auto;	

	}


.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;  
		overflow: hidden;
		width: 100%;
		height: 0;
		transition: 0.5s ease;
		box-shadow: 0 0 30px yellow;
		border-radius: 30px;
		opacity: 0.9;

	}


 p.overlaytext {
 	
 	max-width: 83%;
 	margin-left: 2%;
 	margin-top: 2%;
	background-color: black;
	border-radius: 29px;
  color: white;
  font-family: 'Poor Story';
  font-size: 30px;
  padding: 10px 20px;
}





.container1:hover .overlay{
	height: 100%;
}

/*_____________________BUTTON_______________________*/

.button {

	
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
	left: 160px;
	top: 5px;
    
}


.button1 {
	
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    position: static;
    margin-left: 160px;
    margin-top: 4px;

}

.button1:hover {
    background-color:#4CAF50;
    color: white ;
        
 
}


/*_____________SELECT_____________________________*/

.custom-select{
	position:	relative; 
	display: inline-block;
	top: -42px;
	cursor: pointer;

}


.custom-select select{
	    position: relative;
        display: inline-block;
        padding: 9px 6px;
        margin-left: 4px;
        font: arial;
        font-size: 16px;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background-color: transparent;
        color:black;
        border:2px solid black;
        border-radius: 5px;
        cursor: pointer;
		
    }

.custom-select select option{
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

.custom-select select:hover{
	background-color: black;
	color: white;
}

/*_________________________FOOTER_________________*/




#sticky {
  width:100%;
  height: auto;
  padding-top: 10px;
  padding-bottom:6px;
  padding-left:10px;
  background:black;
  color:white;
  font-weight:bold;
  font-size:12px;
  text-align:center;

     /*Here's what sticks it*/
  
    z-index: 9999;
    height: 20em;
    margin-top: relative;
  
  /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/
  
  /*EFFECTS*/
  animation:jump .5s linear;
  animation-iteration-count:2;
  animation-delay:1s;
  
}



.links, .address{
float: left;
width: 30%;
margin-left: 2%;
letter-spacing: 2px;

}
.about{
float: left;
width: 32%;
margin-left: 3%;
letter-spacing: 2px;
}

.media{
width: 30px;
font-size: 30px;
height: 30px;
line-height: 30px;
text-align: center;
display: inline-block;
padding: 5px;
background-color: #6A5C5C;
 border-radius: 8px;
}

.links  a{
color: #fff;
}


.links  a:hover{
background-color: #ffb366;
box-shadow: 1px 1px white;
 text-decoration: underline overline;
 color: black;
}

.about i{
	 color: #804000;
}

.address i{
	 color: #804000;
}
.links p {
padding-bottom: 20px;
padding-top:10px;
}
.marker{
width: 30px;
height: 30px;
color: #8600b3;
font-size: 20px;
line-height: 30px;
background-color: #6A5C5C;
display: inline-block;
text-align: center;
padding: 5px;
border-radius: 50%;
margin-right: 5px;
float: auto;
}


#logo{
float: left;
height: 9%;
width: 9%;
}






.parallex1{
	background: url(Assets/pastaback3.jpg) no-repeat fixed 100% ;
	background-size: cover;
	
}

.parallex1-inner{
	padding-top: 20%;
	padding-bottom: 30%;

}

.parallex2{
	background: url(Assets/pastaback1.jpg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex2-inner{
	padding-top: 18%;
	padding-bottom: 28%;
}

.parallex1{
	background: url(Assets/pastaback3.jpg) no-repeat fixed 100% ;
	background-size: cover;
	
}

.parallex1-inner{
	padding-top: 20%;
	padding-bottom: 30%;

}

.parallex2{
	background: url(Assets/pastaback1.jpg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex2-inner{
	padding-top: 20%;
	padding-bottom: 30%;
}


.parallex3{
	background: url(Assets/dessertback5.jpg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex3-inner{
	padding-top: 20%;
	padding-bottom: 30%;
}


.parallex4{
	background: url(Assets/dessertback1.jpg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex4-inner{
	padding-top: 20%;
	padding-bottom: 30%;
}


.parallex5{
	background: url(Assets/dessertback2.jpeg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex5-inner{
	padding-top: 20%;
	padding-bottom: 30%;
}


.parallex6{
	background: url(Assets/dessertback3.jpg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex6-inner{
	padding-top: 20%;
	padding-bottom: 30%;
}

.parallex7{
	background: url(Assets/dessertback4.jpg) no-repeat fixed 100%;
		background-size: cover;

}

.parallex7-inner{
	padding-top: 20%;
	padding-bottom: 30%;
}


t.innerHTML{
	font-size: 12px;
}

/*body {
    background-image: url(Assets/pizza-pattern2.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}
*/
html,body{
	height: 100%;
}


.big{
	background: url(Assets/pizza-pattern2.jpg);
	width: 100%;
	position: relative;
	background-position: center center;
    background-repeat: no-repeat;
  	background-attachment: fixed;	
  	background-size: cover;
}


.bg{
	background-color:rgba(0,0,0,0.7);
	content: "";
	position: absolute;
	width: 90%;
	
	border:25px black;
	padding: 0px;
	top: 200px;
	left: 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 30px yellow ;
	
}

#b1a{height: 480%;}
#b1b{height: 90%;}
#b2a{height: 230%;}
#b2b{height: 80%;}
#b3a{height: 102%;}
#b3b{height: 58%;}
#b4a{height: 230%;}
#b4b{height: 80%;}
#b5a{height: 155%;}
#b5b{height: 75%;}
#b6a{height: 245%;}
#b6b{height: 78%;}
#b7a{height: 170%;}
#b7b{height: 70%;}
#b8a{height: 170%;}
#b8b{height: 73%;}
#b9a{height: 102%;}
#b9b{height: 58%;}
#b10a{height: 355%;}
#b10b{	height: 87%;}
#b11a{height: 102%;}
#b11b{height:60%;}
#b12a{height: 102%;}
#b12b{height:60%;}
#b13a{height: 102%;}
#b13b{height:60%;}
/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#D3D38F;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
#contact{
    
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px; 
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255,0,0,1));
  color : #000000;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
  width: 200px;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}


#success_message{
     position: fixed;
    background-color: rgba(2, 0, 0, 0.5);
    top: 40%;
    border-top:4px solid rgb(248, 191, 45);
    color:darkgoldenrod;
    text-shadow: 2px 2px rgb(252, 252, 145);
    display: none;
    width: 200px; height:auto;
    left:41%;
    border-radius: 10px;
    border-bottom:4px solid rgb(248, 191, 45);
    text-align: center; padding: 10px;
    z-index: 100;
    box-shadow: 2px lightyellow;
}